.p-b-60, .p-tb-60, .p-all-60 {
    padding-bottom: 60px;
}
.p-t-65, .p-tb-65, .p-all-65 {
    padding-top: 65px;
}
.p-b-30{
    padding-bottom: 30px;
}
.bor10{
    border: 1px solid #ccc;
} .m-t-50{
    margin-top: 50px;
  }
.p-t-43{
    padding-top: 43px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-t-45{
    padding-top: 45px;
}
.p-b-105{
    padding-bottom: 105px;
}