.section-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-login .sl-box {
  width: 400px;
  background: rgba(255, 255, 255, 0.52);
  border-radius: var(--6px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  padding: var(--18px);
}
