.filter-status-button {
  width: 154px;
}

.filter-status-button,
.filter-status-button:hover,
button.filter-status-button:focus {
  border: var(--2px) solid #ced4da;
  background-color: var(--bs-white);
  color: var(--bs-black);
}

.filter-status-button .fb-icon {
  border-left: 2px solid #ced4da;
  padding-left: var(--12px);
}

button.filter-status-button.dropdown-toggle::after {
  content: none;
}

button.filter-status-button ~ .dropdown-menu.show {
  border-width: 2px;
  min-width: auto;
}

button.filter-status-button ~ .dropdown-menu.show .dropdown-item {
  padding: 0;
}

button.filter-status-button ~ .dropdown-menu.show .dropdown-item:focus,
button.filter-status-button ~ .dropdown-menu.show .dropdown-item:hover,
button.filter-status-button ~ .dropdown-item.show .dropdown-item:active {
  background-color: transparent !important;
  color: inherit;
}
