.drawer {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  transition: all 0.3s;
  box-shadow: var(--box-shadow);
  background-color: #343a3f;
  overflow-y: scroll;
}
@media (min-width: 1024px) {
  .drawer{
    width: 290px;
  }
}

@media (min-width: 768px ) and (max-width:1023px) {
  .drawer{
    width: 190px;
  }
}

@media (max-width: 767px) {
  .drawer{
    width: 190px;
  }
}
