.edit_form .form-checkout-promotion {
  box-shadow: 2px 4px 8px -1px rgb(84 81 81);
  border-radius: 10px;
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
}
.title-promotion {
  /* position: sticky;
  top: 0; */
  text-align: center;
  /* z-index: 1;
  padding: 0;
  margin: 0; */
}
.title-name-promotion-checkout {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
